<div class="form-group date-picker-custom {{containerClass}} {{label ? 'has-label' : ''}}" [formGroup]="form" [attr.data-uid]="name">
    <label [attr.for]="id" class="{{labelClass}}" *ngIf="label"> {{label}} {{required ? '*' : ''}}</label>

    <div class="input-group">

        <input
        #datePicker="ngbDatepicker"
        [attr.id]="id"
        type="text"
        class="form-control {{inputClass}}"
        [ngClass]="classError(name, form)"
        [attr.placeholder]="placeholder"
        (keyup)="keyup($event.target, form, name, datePicker)"
        (dateSelect)="onDateSelect($event, form, name)"
        mask="d0/M0/0000"
        autocomplete="off"
        ngbDatepicker
        />

        <input type="hidden" [formControlName]="name" />

        <div class="input-group-append">
            <button class="input-group-text fix-border-radius" (click)="datePicker.toggle()" type="button">
                <icon-calendar size="15"></icon-calendar>
            </button>
        </div>

        <div class="invalid-feedback" >
            {{ getError(name, form) }}
        </div>
    </div>
</div>
