<div class="box-presentation">
    <div class="container d-flex align-items-center justify-content-center flex-wrap w-100 vh-100">
        <div class="text-center">
            <img src="../../../../assets/images/logo-ntt-data.jpg" alt="" class="w-100" style="max-width: 320px;"/>
            <p class="h1 mt-4 mb-0">
                GUIA DE ESTILO
            </p>
        </div>

        <footer>
            <p class="m-0">
                Por:
            </p>
            <img src="../../../../assets/images/logo-ntt-data.jpg" alt="" class="w-100" style="max-width: 100px;"/>
        </footer>
    </div>
</div>
