<div class="container mt-5">
    <p class="h3">
        Responsive Table
    </p>

    <table-component>
        <thead>
            <tr>
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="w-50-md header-responsive font-weight-bold">ID</td>
                <td class="w-50-md">1</td>
                <td class="w-50-md header-responsive font-weight-bold">Name</td>
                <td class="w-50-md">Anna</td>
                <td class="w-50-md header-responsive font-weight-bold">Last Name</td>
                <td class="w-50-md">Pitt</td>
                <td class="w-50-md header-responsive font-weight-bold">Age</td>
                <td class="w-50-md">35</td>
                <td class="w-50-md header-responsive font-weight-bold">City</td>
                <td class="w-50-md">New York</td>
                <td class="w-50-md header-responsive font-weight-bold">Country</td>
                <td class="w-50-md">USA</td>
            </tr>

            <tr>
                <td class="w-50-md header-responsive font-weight-bold">ID</td>
                <td class="w-50-md">1</td>
                <td class="w-50-md header-responsive font-weight-bold">Name</td>
                <td class="w-50-md">Anna</td>
                <td class="w-50-md header-responsive font-weight-bold">Last Name</td>
                <td class="w-50-md">Pitt</td>
                <td class="w-50-md header-responsive font-weight-bold">Age</td>
                <td class="w-50-md">35</td>
                <td class="w-50-md header-responsive font-weight-bold">City</td>
                <td class="w-50-md">New York</td>
                <td class="w-50-md header-responsive font-weight-bold">Country</td>
                <td class="w-50-md">USA</td>
            </tr>

            <tr>
                <td class="w-50-md header-responsive font-weight-bold">ID</td>
                <td class="w-50-md">1</td>
                <td class="w-50-md header-responsive font-weight-bold">Name</td>
                <td class="w-50-md">Anna</td>
                <td class="w-50-md header-responsive font-weight-bold">Last Name</td>
                <td class="w-50-md">Pitt</td>
                <td class="w-50-md header-responsive font-weight-bold">Age</td>
                <td class="w-50-md">35</td>
                <td class="w-50-md header-responsive font-weight-bold">City</td>
                <td class="w-50-md">New York</td>
                <td class="w-50-md header-responsive font-weight-bold">Country</td>
                <td class="w-50-md">USA</td>
            </tr>
        </tbody>
    </table-component>
</div>
