<div class="container">
    <p class="h3">
        Colors
    </p>

    <p class="h4 mt-3">
        Brand
    </p>

    <div class="row mt--3">
        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-primary text-white">.bg-primary | #4769AE</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-secondary text-white">.bg-secondary | #6C757D</div>
        </div>
    </div>

    <p class="h4 mt-3">
        Utilities
    </p>

    <div class="row mt--3">
        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-success text-white">.bg-success | #198754</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-danger text-white">.bg-danger | #DC3545</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-warning text-dark">.bg-warning | #FFC107</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-info text-white">.bg-info | #17A2B8</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-light text-dark">.bg-light | #F8F9FA</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-dark text-white">.bg-dark | #343A40</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-white text-dark">.bg-white | #FFFFFF </div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-transparent text-dark">.bg-transparent</div>
        </div>
    </div>

    <p class="h4 mt-3">
        Gray Scale
    </p>

    <div class="row mt--3">
        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-100 text-dark">.bg-gray-100 | #F8F9FA</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-200 text-dark">.bg-gray-200 | #E9ECEF</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-300 text-dak">.bg-gray-300 | #DEE2E6</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-400 text-white">.bg-gray-400 | #CED4DA</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-500 text-white">.bg-gray-500 | #ADB5BD</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-600 text-white">.bg-gray-600 | #6C757D</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-700 text-white">.bg-gray-700 | #495057</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-800 text-white">.bg-gray-800 | #343A40</div>
        </div>

        <div class="col-12 col-md-3 mt-3">
            <div class="p-3 border bg-gray-900 text-white">.bg-gray-900 | #212529</div>
        </div>
    </div>
</div>
