.fix-border-radius {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.date-picker-custom .dropdown-menu {
    right: 0;
    left: unset !important;
}