$primary: #4769ae;
$secondary: #6C757D;

$bg-success: #c3e6cb;
$bg-danger: #f8d7da;
$bg-warning: #fff3cd;
$bg-info: #cce5ff;
$bg-default: #fff;

$color-success: #155724;
$color-danger: #721c24;
$color-warning: #856404;
$color-info: #0c5460;
$color-default: #343a40;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

:root {
  --bg-primary: #{$primary};
  --bg-secondary: #{$secondary};

  --bg-success: #{$bg-success};
  --bg-danger: #{$bg-danger};
  --bg-warning: #{$bg-warning};
  --bg-info: #{$bg-info};
  --bg-default: #{$bg-default};

  --color-white: #fff;
  --color-success: #{$color-success};
  --color-danger: #{$color-danger};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};
  --color-default: #{$color-default};

  --cx-color-primary: var(--bg-primary);
  --cx-color-dark: #{$primary};

  // Grayy
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
}
