<div class="p-3">
    <div class="h2">
        Modal 1
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non dignissimos odio. Ea doloremque minima modi minus assumenda itaque accusamus, sapiente ullam in expedita aut rerum accusantium error nobis deserunt?
    </p>

    <div class="row d-flex flex-content-between">
        <div class="col-12 col-md-4">
            <button class="btn btn-default w-100" (click)="closeModal()">
                Close
            </button>
        </div>

        <div class="col-12 col-md-4">
            <button class="btn btn-primary w-100" (click)="openModal()">
                Open Second Modal
            </button>
        </div>

        <div class="col-12 col-md-4">
            <button class="btn btn-default w-100" (click)="logIt()">
                Log It
            </button>
        </div>
    </div>
</div>

