<div class="container mt-5">
    <p class="h3">
        Toasters
    </p>
    
    <div class="row mt--3">
        <div class="col-12 col-md-3 mt-3">
            <button class="btn btn-block text-white bg-success" (click)="addToaster('success')">
                Success
            </button>
        </div>
    
        <div class="col-12 col-md-3 mt-3">
            <button class="btn btn-block text-white bg-danger" (click)="addToaster('danger')">
                Danger
            </button>
        </div>
    
        <div class="col-12 col-md-3 mt-3">
            <button class="btn btn-block text-white bg-warning" (click)="addToaster('warning')">
                Warning
            </button>
        </div>
    
        <div class="col-12 col-md-3 mt-3">
            <button class="btn btn-block text-white bg-info" (click)="addToaster('info')">
                Info
            </button>
        </div>
    
        <div class="col-12 col-md-3 mt-3">
            <button class="btn btn-block btn-light border" (click)="addToaster('default')">
                Default
            </button>
        </div>
    </div>
</div>