<div class="container mt-5">
    <p class="h3">
        Modal
    </p>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" (click)="openModal()">Open Modal</button>
        </div>
    </div>
</div>

<modal-component [modal]="modal1">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?

    <div class="mt-4">
        <div class="row mt--3 d-flex justify-content-between">
            <div class="col-12 col-md-4 mt-3">
                <button class="btn btn-secondary btn-block" (click)="toggleModal(modal1)">
                    Cancel
                </button>
            </div>

            <div class="col-12 col-md-4 mt-3">
                <button class="btn btn-secondary btn-block" (click)="toggleModal(modal2)">
                    Open Second Modal
                </button>
            </div>

            <div class="col-12 col-md-4 mt-3">
                <button class="btn btn-primary btn-block" (click)="log('Modal - 1')">
                    Log It
                </button>
            </div>
        </div>
    </div>
</modal-component>

<modal-component [modal]="modal2">
    <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quos quo at explicabo in facere, delectus earum ipsa ad voluptates officiis hic beatae? Veniam perspiciatis reiciendis quidem, illum in explicabo?
    </div>

    <div class="mt-4">
        <div class="row mt--3 d-flex justify-content-between">
            <div class="col-12 col-md-4 mt-3">
                <button class="btn btn-secondary btn-block" (click)="toggleModal(modal2)">
                    Cancel
                </button>
            </div>

            <div class="col-12 col-md-4 mt-3">
                <button class="btn btn-primary btn-block" (click)="log('Modal - 2')">
                    Log It
                </button>
            </div>
        </div>
    </div>
</modal-component>
